@import "tailwindcss";


.scrollbar-thin {
  scrollbar-width: thin;
}

/* Add to index.css or a global CSS file */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
